__pycache__/
*.py[cod]
*$py.class

.venv/
env/
venv/
ENV/

*.log
*.tmp
*.bak
*.swp


*.ini
*.cfg
*.env

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

build/
dist/
frameworks/
dependences/
**/build/
**/dist/
*.egg-info/
.eggs/

